<h3>
  ЛР №8 <br>
  Выполнил студент ИУ6-34Б <br>
  Гусева Анастасия<br>
  Вариант №6 <br>
  Текст задания:<br>
</h3>
<br>
Дано натуральное число n. Написать программу, определяющую, есть <br>
ли среди чисел n, n + 1, n + 2, . . . 2n близнецы, то есть простые числа, <br>
разность между которыми равна 2. Например, 11 и 13, 17 и 19. Вывести <br>
на печать все обнаруженные пары, а если таких пар нет, то соответствующее сообщение. <br>
</h5>
<form action="<%=index_output_url%>">
  <input name = "label" id="label" value="10">
  <input type = button value="Clear" onclick = "getElementById('label').value = ''">
  <input type = submit value="Start">
  <%= link_to 'Log out', sessions_logout_path %>
</form>
